# Virtual Environment
venv/
source/

# Python Cache
__pycache__/
*.pyc
.pytest_cache/

# Environment Variables
.env

# Local Data
chroma_db/
backend/chroma_db/
backend/uploads/
*.db

# VS Code
.vscode/

# JetBrains IDEs
.idea/

# OS Files
.DS_Store

# .gemini cli
.gemini/
# Node / Vite
node_modules/
dist/

*.tsbuildinfo

vite.config.js

vite.config.d.ts
